<a href="https://colab.research.google.com/github/Bedadeepa/MachineLearning/blob/main/Pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [ ]:
# 1.0call libraries
import numpy as np
import pandas as pd
import os

In [ ]:
pd.Series([2,4,8,10,55])

0     2
1     4
2     8
3    10
4    55
dtype: int64

In [ ]:
pd.Series([3,4,5,15,54])

0     3
1     4
2     5
3    15
4    54
dtype: int64

In [ ]:
pd.Series([2.1,4.1,8.33,12.33,2.3])

0     2.10
1     4.10
2     8.33
3    12.33
4     2.30
dtype: float64

In [ ]:
r=pd.Series(['a','b','c','d','e'])

In [ ]:
r

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
r[0]

'a'

In [ ]:
r[1]

'b'

In [ ]:
r[:3]

0    a
1    b
2    c
dtype: object

In [ ]:
r[3:]

3    d
4    e
dtype: object

In [ ]:
r[2:]

2    c
3    d
4    e
dtype: object

In [ ]:
r[2:4]

2    c
3    d
dtype: object

In [ ]:
r[2:3]

2    c
dtype: object

In [ ]:
r=pd.Series(['a','b','c','d','e'])

In [ ]:
r[[1,3]]

1    b
3    d
dtype: object

In [ ]:
r=pd.Series(['a','b','c','d','e','f','g'])

In [ ]:
len(r)

7

In [ ]:
r[[1,3,4,5]]

1    b
3    d
4    e
5    f
dtype: object

In [ ]:
r[-1] #there is no index named -1

KeyError: ignored

In [ ]:
s=pd.Series(['a','b','c','d','e','f','g'],index =[12,89,3,45,-1,90,800])

In [ ]:
s

 12     a
 89     b
 3      c
 45     d
-1      e
 90     f
 800    g
dtype: object

In [ ]:
s[-1]

'e'

In [ ]:
s.iloc[0]

'a'

In [ ]:
s[[0]]

KeyError: ignored

In [ ]:
s.iloc[-1]#position

'g'

In [ ]:
s.loc[-1]#index

'e'

In [ ]:
s

 12     a
 89     b
 3      c
 45     d
-1      e
 90     f
 800    g
dtype: object

In [ ]:
s.loc[[89,45,90]]# to access by index

89    b
45    d
90    f
dtype: object

In [ ]:
s.iloc[[1,3,5]]# to access by position

89    b
45    d
90    f
dtype: object

In [ ]:
u= pd.Series(np.arange(10))

In [ ]:
v= pd.Series(np.arange(0,20,2))

In [ ]:
u

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
v

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [ ]:
u+v

0     0
1     3
2     6
3     9
4    12
5    15
6    18
7    21
8    24
9    27
dtype: int64

In [ ]:
u-v

0    0
1   -1
2   -2
3   -3
4   -4
5   -5
6   -6
7   -7
8   -8
9   -9
dtype: int64

In [ ]:
u*v

0      0
1      2
2      8
3     18
4     32
5     50
6     72
7     98
8    128
9    162
dtype: int64

In [ ]:
w = pd.Series([1,2,3],index =['a','b','c'])
z = pd.Series([10,20,30], index =['a','b','d'])

In [ ]:
w

a    1
b    2
c    3
dtype: int64

In [ ]:
z

a    10
b    20
d    30
dtype: int64

In [ ]:
w+z

a    11.0
b    22.0
c     NaN
d     NaN
dtype: float64

In [ ]:
w.dtype

dtype('int64')

In [ ]:
w.size

3

In [ ]:
rng= np.random.default_rng()

In [ ]:
e = rng.random(size = (4,5))

In [ ]:
e

array([[0.782, 0.514, 0.949, 0.145, 0.284],
       [0.34 , 0.678, 0.54 , 0.148, 0.897],
       [0.56 , 0.951, 0.156, 0.792, 0.749],
       [0.134, 0.793, 0.963, 0.51 , 0.817]])

In [ ]:
e= np.round(e,2)

In [ ]:
e

array([[0.78, 0.51, 0.95, 0.14, 0.28],
       [0.34, 0.68, 0.54, 0.15, 0.9 ],
       [0.56, 0.95, 0.16, 0.79, 0.75],
       [0.13, 0.79, 0.96, 0.51, 0.82]])

In [ ]:
pd.DataFrame(e , columns = list('abcde'))

      a     b     c     d     e
0  0.78  0.51  0.95  0.14  0.28
1  0.34  0.68  0.54  0.15  0.90
2  0.56  0.95  0.16  0.79  0.75
3  0.13  0.79  0.96  0.51  0.82

In [ ]:
q = pd . DataFrame(np.arange(18).reshape(6,3),columns=['a','b','c'])

In [ ]:
q

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14
5  15  16  17

In [ ]:
q = pd . DataFrame(np.arange(18).reshape(6,3),columns=['a','b','c'])

In [ ]:
e

array([[0.464, 0.955, 0.609, 0.53 , 0.44 ],
       [0.802, 0.13 , 0.126, 0.42 , 0.116],
       [0.402, 0.683, 0.455, 0.57 , 0.275],
       [0.854, 0.809, 0.919, 0.81 , 0.841]])

In [ ]:
q1 = pd . DataFrame(np.arange(18).reshape(6,3),index = [1,2,3,4,7,8],columns=['a','b','c'])

In [ ]:
q1

    a   b   c
1   0   1   2
2   3   4   5
3   6   7   8
4   9  10  11
7  12  13  14
8  15  16  17

In [ ]:
q1.head(4)

   a   b   c
1  0   1   2
2  3   4   5
3  6   7   8
4  9  10  11

In [ ]:
q1.tail(3)

    a   b   c
4   9  10  11
7  12  13  14
8  15  16  17

In [ ]:
q1.tail()

    a   b   c
2   3   4   5
3   6   7   8
4   9  10  11
7  12  13  14
8  15  16  17

In [ ]:
q1.columns

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
q1.index

Int64Index([1, 2, 3, 4, 7, 8], dtype='int64')

In [ ]:
q1.tail(2)

    a   b   c
7  12  13  14
8  15  16  17

In [ ]:
q1.iloc[-2:]

    a   b   c
7  12  13  14
8  15  16  17

In [ ]:
q1.loc[7:]

    a   b   c
7  12  13  14
8  15  16  17

In [ ]:
q1

    a   b   c
1   0   1   2
2   3   4   5
3   6   7   8
4   9  10  11
7  12  13  14
8  15  16  17

In [ ]:
q1.iloc[1:4]

   a   b   c
2  3   4   5
3  6   7   8
4  9  10  11

In [ ]:
q1.iloc[1:4, :2]

   a   b
2  3   4
3  6   7
4  9  10

In [ ]:
q1

    a   b   c
1   0   1   2
2   3   4   5
3   6   7   8
4   9  10  11
7  12  13  14
8  15  16  17

In [ ]:
q1.loc[4,'b']

10

In [ ]:
q1[:3]

   a  b  c
1  0  1  2
2  3  4  5
3  6  7  8

# 7/08/22

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
path ="/gdrive/MyDrive/Colab_data_file/7 8 22/delhi_weather_data.zip"

In [ ]:
import numpy as np
import pandas as pd
import os

In [ ]:
folderpath="/gdrive/MyDrive/Colab_data_file/7 8 22"

In [ ]:
os.listdir("/content/sample_data")

['anscombe.json',
 'README.md',
 'delhi_weather_data.zip',
 'mnist_test.csv',
 'california_housing_test.csv',
 'california_housing_train.csv',
 'mnist_train_small.csv']

In [ ]:
os.chdir(folderpath)

In [ ]:
os.listdir("/gdrive/MyDrive/Colab_data_file/7 8 22")

['delhi_weather_data.zip']

In [ ]:
weather = pd. read_csv(path)

In [ ]:
weather.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [ ]:
weather.columns

Index(['datetime_utc', '_conds', '_dewptm', '_fog', '_hail', '_heatindexm',
       '_hum', '_precipm', '_pressurem', '_rain', '_snow', '_tempm',
       '_thunder', '_tornado', '_vism', '_wdird', '_wdire', '_wgustm',
       '_windchillm', '_wspdm'],
      dtype='object')

In [ ]:
weather.columns=['datetime_utc', '_conds', '_dewptm', '_fog', '_hail',
       '_heatindexm', '_hum', '_precipm', '_pressurem', '_rain', '_snow',
       '_tempm', '_thunder', '_tornado', '_vism', '_wdird', '_wdire',
       '_wgustm', '_windchillm', '_wspdm']

In [ ]:
len(weather.columns)

20

In [ ]:
len(weather.rows)

AttributeError: ignored

In [ ]:
weather.shape

(100990, 20)

In [ ]:
weather.isnull()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
2,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
3,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100986,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100987,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100988,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100989,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False

In [ ]:
weather.isna().sum().sum()

411805

In [ ]:
weather.isnull().sum()

datetime_utc         0
 _conds             72
 _dewptm           621
 _fog                0
 _hail               0
 _heatindexm     71835
 _hum              757
 _precipm       100990
 _pressurem        232
 _rain               0
 _snow               0
 _tempm            673
 _thunder            0
 _tornado            0
 _vism            4428
 _wdird          14755
 _wdire          14755
 _wgustm         99918
 _windchillm    100411
 _wspdm           2358
dtype: int64

In [ ]:
weather.isnull().sum(axis =0)

datetime_utc         0
 _conds             72
 _dewptm           621
 _fog                0
 _hail               0
 _heatindexm     71835
 _hum              757
 _precipm       100990
 _pressurem        232
 _rain               0
 _snow               0
 _tempm            673
 _thunder            0
 _tornado            0
 _vism            4428
 _wdird          14755
 _wdire          14755
 _wgustm         99918
 _windchillm    100411
 _wspdm           2358
dtype: int64

In [ ]:
weather.isnull().sum(axis = 1)

0         4
1         6
2         6
3         5
4         4
         ..
100985    4
100986    4
100987    4
100988    4
100989    4
Length: 100990, dtype: int64

In [ ]:
weather.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

 _dewptm          15.741205
 _fog              0.069690
 _hail             0.000129
 _heatindexm      35.651710
 _hum             57.909481
 _precipm               NaN
 _pressurem     1932.330949
 _rain             0.026260
 _snow             0.000010
 _tempm           25.451269
 _thunder          0.009427
 _tornado          0.000020
 _vism             2.402774
 _wdird          163.549974
 _wgustm          37.671175
 _windchillm       5.713817
 _wspdm            7.678463
dtype: float64

In [ ]:
weather.mean(skipna = True )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

_dewptm          15.741205
_fog              0.069690
_hail             0.000129
_heatindexm      35.651710
_hum             57.909481
_precipm               NaN
_pressurem     1932.330949
_rain             0.026260
_snow             0.000010
_tempm           25.451269
_thunder          0.009427
_tornado          0.000020
_vism             2.402774
_wdird          163.549974
_wgustm          37.671175
_windchillm       5.713817
_wspdm            7.678463
dtype: float64

In [ ]:
weather.mean(skipna = False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

_dewptm             NaN
_fog           0.069690
_hail          0.000129
_heatindexm         NaN
_hum                NaN
_precipm            NaN
_pressurem          NaN
_rain          0.026260
_snow          0.000010
_tempm              NaN
_thunder       0.009427
_tornado       0.000020
_vism               NaN
_wdird              NaN
_wgustm             NaN
_windchillm         NaN
_wspdm              NaN
dtype: float64

In [ ]:
weather[['_dweptm','_hail']].head()

KeyError: ignored

In [ ]:
type(weather[['_pressurem']])

pandas.core.frame.DataFrame

In [ ]:
type(weather['_pressurem'])

pandas.core.series.Series

In [ ]:
weather['_pressurem'].fillna(value=np.mean(weather._pressurem))

0         1010.0
1        -9999.0
2        -9999.0
3         1010.0
4         1011.0
           ...
100985    1005.0
100986    1003.0
100987    1002.0
100988    1004.0
100989    1005.0
Name: _pressurem, Length: 100990, dtype: float64

In [ ]:
weather['_pressurem'].mean()

1932.3309494035213

In [ ]:
weather['_pressurem'].median()

1008.0

In [ ]:
weather[['_pressurem']].fillna(value=np.median(weather._pressurem))

        _pressurem
0           1010.0
1          -9999.0
2          -9999.0
3           1010.0
4           1011.0
...            ...
100985      1005.0
100986      1003.0
100987      1002.0
100988      1004.0
100989      1005.0

[100990 rows x 1 columns]